<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="LiveChatIpSender" value="User-192.168.1.37" />
        <add key="LiveChatPort" value="8080" />
        <add key="VlcPath" value="C:\Users\cl0cb4el\VLC\" />
        <add key="ImageDisplayDuration" value="5" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
</configuration>